* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
}

@keyframes menuShow {
  0% {
    visibility: hidden;
    opacity: 0;
    display: none;
  }
  
  1% {
    visibility: visible;
    opacity: 0;
    display: block;
  }
  
  100% {
    visibility: visible;
    opacity: 1;
    display: block;
  }
}

.humberger {
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  margin-left: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &.-active {
    .humberger_line {
      background-color: transparent;

      &::before {
        top: 0;
        transform: rotate(45deg);
      }

      &::after {
        top: 0;
        transform: rotate(-45deg);
      }
    }
  }
}

.humberger_line {
  position: relative;
  display: block;
  width: 24px;
  height: 2px;
  background-color: #172e59;
  transition: 0.4s;

  &:before,
  &:after {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background-color: #172e59;
    transition: inherit;
  }

  &:before {
    top: -6px;
  }

  &:after {
    top: 6px;
  }
}

.header {
  width: 100%;
  box-shadow: 0 2px 5px rgba(#333, 0.3);
}

.header_inner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 20px;
}

.header_home {
  font-size: 20px;
}

.header_home_link {
  transition: opacity 0.5s;

  @media (hover: hover) {
    &:hover {
      opacity: 0.7;
    }
  }
}

.header_navContainer {
  z-index: 9;
  position: fixed;
  display: none;
  top: 56px;
  height: 100vh;
  width: 300px;
  background-color: #333;
  &[aria-hidden="true"] {
    visibility: hidden;
  }

  &.-active {
    visibility: visible;
    opacity: 1;
    display: block;
    animation: menuShow 0.5s linear;
  }
}

.header_navigation {
  padding-top: 40px;
  padding-right: 25px;
  padding-bottom: 120px;
  padding-left: 25px;
}

.header_navigation_item {
  border-bottom: 2px solid #e7e9ee;
}

.header_navigation_link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  color: #fff;
  font-weight: 900;
  transition: color 0.4s;
  font-size: 0.875rem;

  &.-accordion {
    position: relative;
    background: none;
    border: none;
    appearance: none;
    width: 100%;

    &::after {
      content: "";
      display: block;
      height: 12px;
      position: absolute;
      top: 50%;
      right: 5px;
      width: 2px;
      background-color: #ed3242;
      transform: translateY(-50%);
      transition: transform 0.4s;
    }

    &::before {
      content: "";
      display: block;
      height: 2px;
      position: absolute;
      top: 50%;
      right: 0;
      width: 12px;
      background-color: #ed3242;
      transform: translateY(-50%);
    }
  }

  &.-active::after {
    transform: translateY(-50%) rotate(-90deg);
  }
}

.accordion {
  height: 0;
  overflow: hidden;
  visibility: hidden;
  transition: visibility 0.4s, height 0.4s, padding 0.4s;

  &.-active {
    visibility: visible;
    height: auto;
    padding: 10px 0;
  }
}

.accordion_item {
  font-size: 0.75rem;

  +li {
    margin-top: 21px;
  }
}

.accordion_link {
  display: block;
  color: #fff;
}

.visually-hidden {
  display: none;
}